@model WebApplication2.Models.CityFilterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.TextBoxFor(model => model.Name)
        @Html.TextBoxFor(model => model.Email)
        @Html.TextBoxFor(model => model.MaxTroupCount)
        <button type="submit">Submit</button>   
    </div>  
}
<table>
    <td>Detalii despre orase:</td>
@foreach (var city in this.Model.Results)
{
    <td>@city.CityID</td>
    <td>@city.ApplicationUser.UserName</td>
    <td>@city.ApplicationUser.Email</td>

}
</table>
