@model WebApplication2.Models.City

@{
    ViewBag.Title = "Index";
}
<table>
       <tr>
           @foreach (var res in this.Model.Resources)
           {
             
             <td class="res-img @(res.Type)"><img src="~/Content/img/icon-@(res.Type).png"></td>
             <td>@res.Type</td>
             <td class="res-value @(res.Type)">@res.Value.ToString("n4")</td>
             <td class="res-update @(res.Type)">@res.LastUpdate</td>
            //<td>@Html.ActionLink("Details", "Details", new { mineID = res.MineID })</td>

           }
       </tr>
</table>
<table class="mines">
    @foreach (var mine in this.Model.Mines)
    {
        <tr class="@(mine.Type)">

            <td><img src="~/Content/img/icon-@(mine.Type).png"></td>
            <td>@mine.Type</td>
            <td>@mine.Level</td>
            <!-- <td>@Html.ActionLink("Details", "Details", new { mineID = mine.MineID })</td> -->
            <td><span class="mine-details-btn" data-mine-id="@mine.MineID">Details</span></td>
            <td class="hourProduction">@mine.GetProductionPerHour()</td>
        </tr>
    }
    <div id="mine-details-container">
        <div class="close-btn">X</div>
        <div class="content"></div>
    </div>
</table>
@section Scripts
{
    <script src="~/Scripts/Fisiere/JavaScript.js"></script>
    <script src="~/Scripts/Date.min.js"></script>
}